<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="intel_realsense_mount" params="prefix topic parent_link">

    <xacro:macro name="intel_realsense" params="
               frame:=realsense          topic:=realsense
               h_fov:=1.5184351666666667 v_fov:=1.0122901111111111
               min_range:=0.105          max_range:=8.0
               width:=640                height:=480
               update_rate:=30
               robot_namespace:=/">

      <!-- this link is the origin for the camera's data -->
      <link name="${frame}" />

      <!--
        The gazebo plugin aligns the depth data with the Z axis, with X=left and Y=up
        ROS expects the depth data along the X axis, with Y=left and Z=up
        This link only exists to give the gazebo plugin the correctly-oriented frame
      -->
      <link name="${frame}_gazebo" />
      <joint name="${frame}_gazebo_joint" type="fixed">
        <parent link="${frame}"/>
        <child link="${frame}_gazebo"/>
        <origin xyz="0.0 0 0" rpy="-1.5707963267948966 0 -1.5707963267948966"/>
      </joint>

      
    </xacro:macro>

    <link name="${prefix}_realsense_lens">
      <visual>
        <!--
          the model's origin is in the middle & it's rotated to lie in
          the optical standard with X left, Y up, and Z forward
        -->
        <origin xyz="0.0115 0 0.0100" rpy="1.570796 0 1.570796" />
        <geometry>
          <!-- Origin of this mesh is the base of the bracket. -->
          <mesh filename="package://tratsah/meshes/d415.stl" scale="0.8 0.8 0.8"/>
        </geometry>
        <material name="white" />
      </visual>
    </link>

    <joint type="fixed" name="${prefix}_realsense_lens_joint">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${parent_link}" />
      <child link="${prefix}_realsense_lens" />
    </joint>
    <joint type="fixed" name="${prefix}_realsense_joint">
      <origin xyz="0.025 0 0" rpy="0 0 0" />
      <parent link="${prefix}_realsense_lens" />
      <child link="${prefix}_realsense" />
    </joint>

    <xacro:intel_realsense frame="${prefix}_realsense" topic="${topic}"/>
  </xacro:macro>
</robot>